<!-- ZFS pool -->
<a class="item pool" 
    href="/pools/<%= pool.name %>"
    data-path="<%= pool.name %>">
  <span class="icon pool"></span>
  <h1><%= pool.name %></h1>

  <div class="info">
    <p>
      <%= number_to_human_size(pool.used) %> / 
      <%= number_to_human_size(pool.available) %>
    </p>
    <div class="progress progress-thin">
      <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage_used(pool) %>%"></div>
    </div>
  </div>
</a>