<h2>Usage</h2>
<p><%= number_to_human_size(fs.used) %> / <%= number_to_human_size(fs.available) %> <span class="pull-right"><%= percentage_used(fs) %>%</span></p>
<div class="progress progress-thin">
  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage_used(fs) %>%"></div>
</div>

<p>Children: <span class="pull-right"><%= number_to_human_size(fs.usedbychildren) %></span></p>
<p>Snapshots: <span class="pull-right"><%= number_to_human_size(fs.usedbysnapshots) %></span></p>