<div class="row">
  <div class="sidebar">
    <header>
      <!-- Search -->
      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search...">
      </div>

      <!-- Create Pool -->
      <a href="#" class="create-pool-btn" title="Create pool">
        <i class="fa fa-plus"></i>
      </a>
    </header>

    <!-- Pool & datasets list -->
    <div class="list">
      <% @pools.each do |pool| %>
        <a class="item pool" href="#">
          <span class="icon pool"></span>
          <h1><%= pool.name %></h1>

          <div class="info">
            <p>
              <%= number_to_human_size(pool.used) %> / 
              <%= number_to_human_size(pool.available) %>
            </p>
            <div class="progress progress-thin">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
            </div>
          </div>
        </a>

        <!-- List pool's datasets -->
        <% pool.children.each do |fs| %>
          <a class="item filesystem" href="#">
            <span class="icon folder"></span>
            <span class="badge"><%= number_to_human_size(fs.used) %></span>
            <%= fs.path %>
          </a>
        <% end %>
      <% end %>

      <!--<a class="item filesystem active" href="#">
        <span class="icon folder"></span>
        <span class="badge">5 <b>TB</b></span>
        dataset1/test
      </a>

      <a class="item filesystem" href="#">
        <span class="icon folder"></span>
        <span class="badge">254 <b>GB</b></span>
        dataset2
      </a>-->

    </div>
  </div>

  <div class="main">
    <h2>Pool "tank"</h2>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Overview</a></li>
      <li><a href="#">Snapshots</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </div> <!-- .main -->

</div> <!-- .row -->