<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ZUI</title>

    <!-- Styles -->
    <link href="<%= stylesheet_path('application') %>" rel="stylesheet">
    <!-- Scripts -->
    <script type="text/javascript">
      paceOptions = {
        startOnPageLoad: false, // Disable on initial page load
        eventLag: false, // disabled
        initialRate: 1,
        restartOnRequestAfter: 10
      }
    </script>
    <script src="<%= javascript_path('application') %>" type="text/javascript"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="row">

        <div class="sidebar">
          <header>
            <!-- Search -->
            <div class="search">
              <i class="fa fa-search"></i>
              <input id="search" type="text" class="form-control" placeholder="Search...">
            </div>

            <!-- Create Pool -->
            <div class="add-group">
              <button title="Create pool" data-toggle="dropdown">
                <i class="fa fa-plus"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/fs/new">New Filesystem</a></li>
                <li><a href="/pool/new">New Pool</a></li>
              </ul>
            </div>
          </header>

          <!-- Pools & folders list -->
          <div class="list">
            <% @pools.each do |pool| %>
              <!-- Pool -->
              <%= partial(:'sidebar/pool', locals: {pool: pool, selected: @selected}) %>

              <!-- List pool's folders -->
              <% pool.children({recursive: true}).each do |fs| %>
                <%= partial(:'sidebar/filesystem', locals: {fs: fs, selected: @selected}) %>
              <% end %>
            <% end %>
          </div>
        </div> <!-- .sidebar -->

        <div class="main" id="main">
          <%= yield %>
        </div> <!-- .main -->

      </div> <!-- .row -->
    </div> <!-- .wrapper -->

  </body>
</html>